@import "tailwindcss";
button {
  @apply transition duration-300 ease-in-out;
  @apply focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
  @apply cursor-pointer
}